<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.epilande.markdown</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>0A6D2A86-8209-4B31-AAF5-7F556FBAE59A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>770EE95E-2673-4114-B6ED-6EEE4A77BD27</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0D377934-674E-4E92-A5F3-81BD0AB3BFD6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6E9E3DC1-D7D1-484C-B78C-FDE663607756</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0DDD1EA5-5ADA-44BC-9B35-6FB02886D9FB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6C850078-1519-47B7-87CF-FABD988DEB1A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>12D94576-627A-4E32-B93F-A34F8BD7D6D1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C56BD14D-69CB-4384-BBA7-438D9E1B5CBA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>12F4989F-8BF7-4B5C-8529-26C641FF5586</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>95F69AD9-3BBD-44BE-BA2A-031FB299C893</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3AC9C1B2-687A-4C68-881F-305AEA5535EE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>408C4184-87F4-4C7E-939B-5341F6CDB658</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>408C4184-87F4-4C7E-939B-5341F6CDB658</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3945D4CB-F42E-4469-AD7B-0A6CFD3FFBCC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>45C16D26-F623-4D12-BB72-144FE0B2A0DA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>12F4989F-8BF7-4B5C-8529-26C641FF5586</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5C25E7DE-8F0A-435A-97F9-11E0571EFFE8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0D377934-674E-4E92-A5F3-81BD0AB3BFD6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>60AB5D2F-AEFA-458F-AD68-4832617A26C5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>12D94576-627A-4E32-B93F-A34F8BD7D6D1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6C850078-1519-47B7-87CF-FABD988DEB1A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1423D81D-8571-4724-B2E2-874D14E16DEA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6E9E3DC1-D7D1-484C-B78C-FDE663607756</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8DEB9EAF-4D82-45D0-A1B1-1F09F7266095</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>760FE97B-960F-400B-9F53-D8F58D9D5089</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0A6D2A86-8209-4B31-AAF5-7F556FBAE59A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>78CF8605-6B23-42C7-9442-A5DA9D487A09</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E732C8F7-BB8C-496D-BF84-24BF4F9FD92B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8DEB9EAF-4D82-45D0-A1B1-1F09F7266095</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>04950FA3-A3C0-46D6-87EA-1AE5E98348B4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A7C4C09E-B55E-4BF1-BFF5-5DBA5312CE49</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2B7176CF-2223-4A9A-93C1-251ACF7A3B21</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AE6C2B7E-2125-49A1-80F2-44D27631F53E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>45C16D26-F623-4D12-BB72-144FE0B2A0DA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D80A2EFA-FF07-4862-B102-75AF0ED2437F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A1EFF805-EEED-4D2C-AFA9-489C7B2DE42F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E2787123-D271-428F-B014-D62C0C6AA411</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AE6C2B7E-2125-49A1-80F2-44D27631F53E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E60CD5FB-7F87-4161-B539-E8218D89A529</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A7C4C09E-B55E-4BF1-BFF5-5DBA5312CE49</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E856BB34-B801-4AB4-A0CF-1C51B099424B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>78CF8605-6B23-42C7-9442-A5DA9D487A09</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EE674DD8-0FC1-4BF2-993E-1C56A5D7710F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D80A2EFA-FF07-4862-B102-75AF0ED2437F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Emmanuel Pilande</string>
	<key>description</key>
	<string>Markdown text expander</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Markdown</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>04950FA3-A3C0-46D6-87EA-1AE5E98348B4</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>./link.py --text="$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>8DEB9EAF-4D82-45D0-A1B1-1F09F7266095</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>32</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>U</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>5C25E7DE-8F0A-435A-97F9-11E0571EFFE8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>url</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Set link for selected text "{query}"</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>0D377934-674E-4E92-A5F3-81BD0AB3BFD6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>clip0</key>
					<string>{clipboard:0}</string>
					<key>clip1</key>
					<string>{clipboard:1}</string>
					<key>clip2</key>
					<string>{clipboard:2}</string>
					<key>clip3</key>
					<string>{clipboard:3}</string>
					<key>clip4</key>
					<string>{clipboard:4}</string>
					<key>clip5</key>
					<string>{clipboard:5}</string>
					<key>clip6</key>
					<string>{clipboard:6}</string>
					<key>clip7</key>
					<string>{clipboard:7}</string>
					<key>clip8</key>
					<string>{clipboard:8}</string>
					<key>clip9</key>
					<string>{clipboard:9}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>6E9E3DC1-D7D1-484C-B78C-FDE663607756</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>34</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>I</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>E2787123-D271-428F-B014-D62C0C6AA411</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>95F69AD9-3BBD-44BE-BA2A-031FB299C893</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>./link.py --prefix=! --text="$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>12F4989F-8BF7-4B5C-8529-26C641FF5586</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>img</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Set image for selected text "{query}"</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>AE6C2B7E-2125-49A1-80F2-44D27631F53E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>clip0</key>
					<string>{clipboard:0}</string>
					<key>clip1</key>
					<string>{clipboard:1}</string>
					<key>clip2</key>
					<string>{clipboard:2}</string>
					<key>clip3</key>
					<string>{clipboard:3}</string>
					<key>clip4</key>
					<string>{clipboard:4}</string>
					<key>clip5</key>
					<string>{clipboard:5}</string>
					<key>clip6</key>
					<string>{clipboard:6}</string>
					<key>clip7</key>
					<string>{clipboard:7}</string>
					<key>clip8</key>
					<string>{clipboard:8}</string>
					<key>clip9</key>
					<string>{clipboard:9}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>45C16D26-F623-4D12-BB72-144FE0B2A0DA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>i</string>
				<key>subtext</key>
				<string>_{query}_</string>
				<key>text</key>
				<string>Set text to italics</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>408C4184-87F4-4C7E-939B-5341F6CDB658</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>34</integer>
				<key>hotmod</key>
				<integer>1441792</integer>
				<key>hotstring</key>
				<string>I</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>3AC9C1B2-687A-4C68-881F-305AEA5535EE</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>_{query}_</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>3945D4CB-F42E-4469-AD7B-0A6CFD3FFBCC</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>b</string>
				<key>subtext</key>
				<string>**{query}**</string>
				<key>text</key>
				<string>Set text to bold</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>12D94576-627A-4E32-B93F-A34F8BD7D6D1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>11</integer>
				<key>hotmod</key>
				<integer>1441792</integer>
				<key>hotstring</key>
				<string>B</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>60AB5D2F-AEFA-458F-AD68-4832617A26C5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>**{query}**</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>C56BD14D-69CB-4384-BBA7-438D9E1B5CBA</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{{query}}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>1423D81D-8571-4724-B2E2-874D14E16DEA</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>33</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>[</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>0DDD1EA5-5ADA-44BC-9B35-6FB02886D9FB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>{</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Wrap text {{query}}</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>6C850078-1519-47B7-87CF-FABD988DEB1A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>[</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Wrap text [{query}]</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D80A2EFA-FF07-4862-B102-75AF0ED2437F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>33</integer>
				<key>hotmod</key>
				<integer>1835008</integer>
				<key>hotstring</key>
				<string>[</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>EE674DD8-0FC1-4BF2-993E-1C56A5D7710F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>[{query}]</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>A1EFF805-EEED-4D2C-AFA9-489C7B2DE42F</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>25</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>9</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>E856BB34-B801-4AB4-A0CF-1C51B099424B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>(</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Wrap text ({query})</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>78CF8605-6B23-42C7-9442-A5DA9D487A09</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>({query})</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>E732C8F7-BB8C-496D-BF84-24BF4F9FD92B</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>`{query}`</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>770EE95E-2673-4114-B6ED-6EEE4A77BD27</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>`</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Wrap text `{query}`</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>0A6D2A86-8209-4B31-AAF5-7F556FBAE59A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>50</integer>
				<key>hotmod</key>
				<integer>1835008</integer>
				<key>hotstring</key>
				<string>`</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>760FE97B-960F-400B-9F53-D8F58D9D5089</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>check</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>- [x] {query}</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A7C4C09E-B55E-4BF1-BFF5-5DBA5312CE49</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>- [x] {query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>2B7176CF-2223-4A9A-93C1-251ACF7A3B21</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>8</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>C</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>E60CD5FB-7F87-4161-B539-E8218D89A529</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>GitHub repo: https://github.com/epilande/alfred-markdown

Commands:
- url {text} - Set link for selected text.
- img {text} - Set image link for selected text.
- i {text} - Set selected text to italics.
- b {text} - Set selected text to bold.
- { {text} - Wrap selected text with { }.
- [ {text} - Wrap selected text with [ ].
- ( {text} - Wrap selected text with ( ).
- ` {text} - Wrap selected text with ` `.
- check {text} - Prepends - [x] before selected text.</string>
	<key>uidata</key>
	<dict>
		<key>04950FA3-A3C0-46D6-87EA-1AE5E98348B4</key>
		<dict>
			<key>xpos</key>
			<integer>715</integer>
			<key>ypos</key>
			<integer>80</integer>
		</dict>
		<key>0A6D2A86-8209-4B31-AAF5-7F556FBAE59A</key>
		<dict>
			<key>xpos</key>
			<integer>290</integer>
			<key>ypos</key>
			<integer>1335</integer>
		</dict>
		<key>0D377934-674E-4E92-A5F3-81BD0AB3BFD6</key>
		<dict>
			<key>xpos</key>
			<integer>290</integer>
			<key>ypos</key>
			<integer>80</integer>
		</dict>
		<key>0DDD1EA5-5ADA-44BC-9B35-6FB02886D9FB</key>
		<dict>
			<key>note</key>
			<string>{ }</string>
			<key>xpos</key>
			<integer>120</integer>
			<key>ypos</key>
			<integer>810</integer>
		</dict>
		<key>12D94576-627A-4E32-B93F-A34F8BD7D6D1</key>
		<dict>
			<key>xpos</key>
			<integer>290</integer>
			<key>ypos</key>
			<integer>645</integer>
		</dict>
		<key>12F4989F-8BF7-4B5C-8529-26C641FF5586</key>
		<dict>
			<key>xpos</key>
			<integer>545</integer>
			<key>ypos</key>
			<integer>265</integer>
		</dict>
		<key>1423D81D-8571-4724-B2E2-874D14E16DEA</key>
		<dict>
			<key>xpos</key>
			<integer>460</integer>
			<key>ypos</key>
			<integer>810</integer>
		</dict>
		<key>2B7176CF-2223-4A9A-93C1-251ACF7A3B21</key>
		<dict>
			<key>xpos</key>
			<integer>460</integer>
			<key>ypos</key>
			<integer>1515</integer>
		</dict>
		<key>3945D4CB-F42E-4469-AD7B-0A6CFD3FFBCC</key>
		<dict>
			<key>xpos</key>
			<integer>460</integer>
			<key>ypos</key>
			<integer>460</integer>
		</dict>
		<key>3AC9C1B2-687A-4C68-881F-305AEA5535EE</key>
		<dict>
			<key>note</key>
			<string>Italic</string>
			<key>xpos</key>
			<integer>120</integer>
			<key>ypos</key>
			<integer>460</integer>
		</dict>
		<key>408C4184-87F4-4C7E-939B-5341F6CDB658</key>
		<dict>
			<key>xpos</key>
			<integer>290</integer>
			<key>ypos</key>
			<integer>460</integer>
		</dict>
		<key>45C16D26-F623-4D12-BB72-144FE0B2A0DA</key>
		<dict>
			<key>xpos</key>
			<integer>460</integer>
			<key>ypos</key>
			<integer>295</integer>
		</dict>
		<key>5C25E7DE-8F0A-435A-97F9-11E0571EFFE8</key>
		<dict>
			<key>note</key>
			<string>Set link for selected text</string>
			<key>xpos</key>
			<integer>120</integer>
			<key>ypos</key>
			<integer>80</integer>
		</dict>
		<key>60AB5D2F-AEFA-458F-AD68-4832617A26C5</key>
		<dict>
			<key>note</key>
			<string>Bold</string>
			<key>xpos</key>
			<integer>120</integer>
			<key>ypos</key>
			<integer>645</integer>
		</dict>
		<key>6C850078-1519-47B7-87CF-FABD988DEB1A</key>
		<dict>
			<key>xpos</key>
			<integer>290</integer>
			<key>ypos</key>
			<integer>810</integer>
		</dict>
		<key>6E9E3DC1-D7D1-484C-B78C-FDE663607756</key>
		<dict>
			<key>xpos</key>
			<integer>460</integer>
			<key>ypos</key>
			<integer>110</integer>
		</dict>
		<key>760FE97B-960F-400B-9F53-D8F58D9D5089</key>
		<dict>
			<key>note</key>
			<string>` `</string>
			<key>xpos</key>
			<integer>120</integer>
			<key>ypos</key>
			<integer>1335</integer>
		</dict>
		<key>770EE95E-2673-4114-B6ED-6EEE4A77BD27</key>
		<dict>
			<key>xpos</key>
			<integer>460</integer>
			<key>ypos</key>
			<integer>1335</integer>
		</dict>
		<key>78CF8605-6B23-42C7-9442-A5DA9D487A09</key>
		<dict>
			<key>xpos</key>
			<integer>290</integer>
			<key>ypos</key>
			<integer>1155</integer>
		</dict>
		<key>8DEB9EAF-4D82-45D0-A1B1-1F09F7266095</key>
		<dict>
			<key>xpos</key>
			<integer>545</integer>
			<key>ypos</key>
			<integer>80</integer>
		</dict>
		<key>95F69AD9-3BBD-44BE-BA2A-031FB299C893</key>
		<dict>
			<key>xpos</key>
			<integer>715</integer>
			<key>ypos</key>
			<integer>265</integer>
		</dict>
		<key>A1EFF805-EEED-4D2C-AFA9-489C7B2DE42F</key>
		<dict>
			<key>xpos</key>
			<integer>460</integer>
			<key>ypos</key>
			<integer>980</integer>
		</dict>
		<key>A7C4C09E-B55E-4BF1-BFF5-5DBA5312CE49</key>
		<dict>
			<key>xpos</key>
			<integer>290</integer>
			<key>ypos</key>
			<integer>1515</integer>
		</dict>
		<key>AE6C2B7E-2125-49A1-80F2-44D27631F53E</key>
		<dict>
			<key>xpos</key>
			<integer>290</integer>
			<key>ypos</key>
			<integer>265</integer>
		</dict>
		<key>C56BD14D-69CB-4384-BBA7-438D9E1B5CBA</key>
		<dict>
			<key>xpos</key>
			<integer>460</integer>
			<key>ypos</key>
			<integer>645</integer>
		</dict>
		<key>D80A2EFA-FF07-4862-B102-75AF0ED2437F</key>
		<dict>
			<key>xpos</key>
			<integer>290</integer>
			<key>ypos</key>
			<integer>980</integer>
		</dict>
		<key>E2787123-D271-428F-B014-D62C0C6AA411</key>
		<dict>
			<key>note</key>
			<string>Set image for selected text</string>
			<key>xpos</key>
			<integer>120</integer>
			<key>ypos</key>
			<integer>265</integer>
		</dict>
		<key>E60CD5FB-7F87-4161-B539-E8218D89A529</key>
		<dict>
			<key>note</key>
			<string>- [ ]</string>
			<key>xpos</key>
			<integer>120</integer>
			<key>ypos</key>
			<integer>1515</integer>
		</dict>
		<key>E732C8F7-BB8C-496D-BF84-24BF4F9FD92B</key>
		<dict>
			<key>xpos</key>
			<integer>460</integer>
			<key>ypos</key>
			<integer>1155</integer>
		</dict>
		<key>E856BB34-B801-4AB4-A0CF-1C51B099424B</key>
		<dict>
			<key>note</key>
			<string>( )</string>
			<key>xpos</key>
			<integer>120</integer>
			<key>ypos</key>
			<integer>1155</integer>
		</dict>
		<key>EE674DD8-0FC1-4BF2-993E-1C56A5D7710F</key>
		<dict>
			<key>note</key>
			<string>[ ]</string>
			<key>xpos</key>
			<integer>120</integer>
			<key>ypos</key>
			<integer>980</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://github.com/epilande/alfred-markdown</string>
</dict>
</plist>
